path.link {
  fill: none;
  stroke-width: 1px;
}
.node:not(:hover) .nodetext {
  visibility: hidden;
}

.node .hidden {
  display: none;
}

.node {
  cursor: pointer;
}

aside#highlights-sidebar {
  opacity: 0;
  transition: opacity 0.3s;
}

aside#highlights-sidebar.show {
  opacity: 1;
}
